.searchbox{
    position: absolute;
    z-index: 1;
    align-self: flex-end;
    width:25%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    
}

.searchinput{
    float:left;
    border-top-left-radius: 15px;
    border-bottom-left-radius:  15px;
    border-color: rgb(223, 122, 122);
    
    
}
.searchbutton{
    float: left;
    border-radius: 90%;
    width:20%;
    height:20%;
    


}
