.cardpage {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 1rem;
}
.cardpagenocardmessage {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 164, 164);
  grid-column: span 5;
  text-align: center;
}
.cardpagecardmaininfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .cardpagemd {
    padding-top: 5vh;
  }
}

.cardpagecard {
  grid-column: span 4;
  height: 40rem;
  background: rgb(236, 249, 255);
  display: flex;
  border-radius: 3px;
  box-shadow: 0 0 2px black;
}
.cardpagecardimage {
  width: 500px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.cardpagecardtitle {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 650;
  width: 100%;
  color: rgb(65, 65, 65);
  height: 3rem;
}

.cardpagecarddescription {
  grid-row: 3/4;
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding: 0.5rem 5%;
}

.cardpagecardinfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-left: 1px solid gray;
}

.cardpagedisplayflexcolumn {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  height: 4rem;
  background: rgb(172, 222, 255);
  width: 100%;
  color: rgb(35, 150, 0);
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 3px;
}
.cardpagedisplayflexcolumnchild {
  color: gray;
}

.cardpagecardcategory {
  display: flex;
  flex-direction: column;
  height: 4rem;
  background: rgb(230, 230, 230);
  width: 100%;
  color: rgb(35, 150, 0);
  padding: 0.5rem;
  font-weight: 600;
}
.cardpagecardcategorycategory {
  display: flex;
}

.cardpagecardratehim {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
}
.cardpagecardratehimstars {
  display: flex;
}
.cardpagecardratehimstar {
  padding: 0.3rem;
}
.cardpagecardratehimrate {
  margin-top: 2rem;
  color: rgb(157, 255, 132);
  font-size: 1rem;
  font-weight: 600;
}
