.img-sm {
  width: 15%;
}
.hamburgeritems {
  background: rgb(232, 228, 250);
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 0 1px 0 1px solid black;
}

.hamburgeritems:hover {
  cursor: pointer;
  background: aqua;
}
.shadow {
  height: 0.3rem;
  background: rgba(8, 7, 37, 0.322);
  align-self: center;
  border-radius: 5%;
}

.custnavbar {
  justify-content: space-between;
  padding: 0rem 1rem !important;
  display: flex;
  position: relative;
  background-image: linear-gradient(to right, #00b4db, #0083b0);
}
.links {
  background: rgba(113, 191, 211, 0.411);
}

.custnavitem {
  padding: 0.3rem;
  border-radius: 5%;
  text-shadow: 1px 1px 3px black;
  color: rgb(204, 203, 203);
  align-self: center;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.custnavitem:hover {
  color: rgb(255, 255, 255);
  background: rgb(7, 7, 102);
}
.custnavitemcont {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  display: flex;
  flex-direction: column;
}
.custdropdown {
  background: rgba(113, 191, 211, 0.411);
}

@media only screen and (min-width: 768px) {
  .img-md {
    width: 10%;
  }
}
.custnavitemcont:hover {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .img-l {
    width: 6%;
  }
}

@media only screen and (min-width: 1280px) {
  .img-xl {
    width: 5%;
  }
}
