.custfooter {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-top: 5%;
  background: gray;
  font-weight: 500;
}

.custfootersm {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 500px) {
  .custfooterlg {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .custfootermd {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footergriditem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactscont {
  display: flex;

  flex-direction: column;
}
.aboutcont {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutitem {
  padding: 0.5rem 0;
}
.aboutitem:hover {
  cursor: pointer;
}
.contactcontact {
  color: rgb(43, 42, 42);
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.contactitem {
  display: flex;
  align-self: flex-start;

  justify-content: flex-start;
  padding: 1%;

  padding: 0.5rem 0;
}
.contactitemimg {
  width: 1rem;
  margin-right: 1rem;
}

.copyright {
  display: flex;
  padding: 2rem 0;
}
