.cards {
  width: 80%;
  grid-gap: 5vw;
  display: grid;
  grid-template-columns: 1fr;

  grid-auto-rows: minmax(25rem, auto);
}

@media only screen and (min-width: 768px) {
  .cardsmd {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1266px) {
  .cardslg {
    grid-template-columns: repeat(3, 1fr);
  }
}

.custcard {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5%/7%;
  z-index: 100;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
}
.imgcontainer {
  height: 15rem;
  width: 100%;
  background-size: cover;
}
.cardimg {
  width: 100%;
}

.cardscont {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.cardtext {
  flex-shrink: 1;
  padding: 5%;
  text-align: center;
  color: rgb(141, 138, 138);
}
.title {
  flex-shrink: 1;
  font-size: 2rem;
  text-align: center;
  color: rgb(51, 50, 50);
  width: 90%;
  border-bottom: 1px solid black;
  margin-bottom: 10%;
}
